version: '3.8'

services:
  task-manager:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: task-manager
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3000
    ports:
      - '3000:3000'
    working_dir: /usr/src/app
