services:
  task-manager:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: task-manager
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_CONNECTION_STRING=${DATABASE_CONNECTION_STRING}
      - PORT=${PORT}
    ports:
      - '3000:3000'
    working_dir: /usr/src/app
